<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>EN&KO Translation</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"></script>
  </head>
  <body>
    <section class="kr-input">
      <h1>En&Ko Translation</h1>
      <div class="description">2021년 1학기 상명대학교 AI심화트랙 인공지능기초과제&SW-PBL.</div>
      <form action="./kr_input" method="post">
        <div class="form-group">
          <input type="text" id="keyword" name="kr_text" required>
          <label for="keyword">검색</label>
        </div>
        <class="btn-area">
          <button id="button" type="submit"></button>
      </form>

      {% if data %}
        <div id="result">
          {% for k, v in data.items() %}<div class="box{{loop.index}}" value="{{k}}">v</div>{% endfor%}
        </div>
      {% endif %}

    </section>
  </body>
</html>